.main{
    background-color: #023047;
}
.navbar{
    background-color: #ff7734;
    display: flex;
    flex-direction: column;
    margin-left: 30px;
    margin-right: 30px;
   
}
.navbar li{
    list-style: none;
}
a{
    text-decoration: none;
}
.mains{
    display: flex;
    flex-direction: row;
    margin: 50px;
    margin-top: 30px;

}
#imgs{
    max-width: 600px;
    max-height: 600px;
}
.edit{
    font-size: 20px;
}
.edit1{
    font-size: 15px;
}
#card1{
    padding: 50px;
    color: black;
    margin:100px;
    background-color: white;
}
#card2{
    padding: 100px;
    color: black;
    background-color: #023047;
}

.btns{
    padding-top: 200px;
}
.bt1{
    background-color: #ff7734;
    padding: 10px;
    margin-bottom: -500px;
    border-style: hidden;
}
.ft{
    text-align: center;
    padding: 30px;
}
.edit2{
    font-size: 15px;
    color:#98d9d3;
}
.edit3{
    font-size: 12px;
    color:#98d9d3;
}
.edit4{
    font-size: 20px;
    color:#98d9d3;
    text-align: center;
    padding: 30px;
}