.container{
    background-color: peachpuff;

    margin-top: 3cm;
    height: 16cm;
    justify-content: center;
    font-family: 'Times New Roman', Times, serif;




    background: rgba( 255, 255, 255, 0.9 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 17px );
    -webkit-backdrop-filter: blur( 27px );
    border-radius: 10px;
    border: 3px solid rgba( 255, 255, 255, 0.18 );
    

    
}



body{


  background-color: darkgoldenrod;

  background: rgba( 255, 255, 255, 0.9 );
  box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
  backdrop-filter: blur( 17px );
  -webkit-backdrop-filter: blur( 27px );
  border-radius: 10px;
  border: 3px solid rgba( 255, 255, 255, 0.18 );
  margin-top: 2cm;
  



}


.upload{


    background-color: darkgoldenrod;

    background: rgba( 255, 255, 255, 0.9 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 17px );
    -webkit-backdrop-filter: blur( 27px );
    border-radius: 10px;
    border: 3px solid rgba( 255, 255, 255, 0.18 );
    margin-top: 2cm;

    width: 50%;
    margin-left: 8cm;
    margin-top: 3cm;
    
  

}


.display{
border: solid ;
justify-content: center;


}


