body{
    /* background-color: #023047; */
    /* background-image: url('./images/loginbg.jpg'); */
    background-image: url('https://d32ex7notsszg6.cloudfront.net/uploads/blogs/phpzBsUFw_60252df04fe10.jpg');
    color: white;
} 
.navbar-inverse{
    background-color: #023047;
} 
.navbar {
    background-color: #023047;
    padding-left: 5vw;
    color: white;
    font-weight: bold;
}
/* form.form{
    border-radius: 10px;
} */
.navbar-collapse {
    padding-left: 40vw;
}

#registerFrm,
#loginFrm {
    background-color: #023047;
    width: 40vw !important;
    box-shadow: 3px 3px 6px #0c90d3;
    /* backdrop-filter: blur(5px); */
    height: 80vh;
    padding: 2vw 2vw;
    border-radius: 16px; 
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
    margin-top: 2vw;
    /* From https://css.glass */
    background: rgba(2, 48, 71, 0.52);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5.1px);
    -webkit-backdrop-filter: blur(5.1px);
    border: 1px solid rgba(2, 48, 71, 0.1);
    
}

.topicH {
    text-align: center;
    font-weight: bold;
    color: green;
    font-size: 1.6vw;
}

.form-control {
    border: 1px solid #023047;
} 

.btn {
    background-color: green !important;
    width: 100%;
    margin-bottom: 2vw;
    height: 3vw;
    color: white;
    font-weight: bold;
    font-size: 1.4vw;
}

input {
    background-color: white !important;
    width: 32vw !important;
} 