{%extends 'base.html'%}


{% block style %}
{{super()}}
<link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
{% endblock %}


{% block content %}


{% block navbar %}
{% include 'navbar.html'%}
{% endblock %}

<img src="{{ url_for('static', filename= 'house2.jpg')}}" style="height:80vh; width:100%;">
<section class="container">
  
    <h2 style="margin-left:500px"> ABOUT US</h2>
    <div class="row">
      <div class="col-4 img">
        <img src="{{ url_for('static', filename= 'house1.jpg')}}">
      </div>
      <div class="col-8 about">
        <p>At Primedale reality, you are number one. Whether you are a property owner, tenant, or buyer, we value your
          business and will provide you with the individual attention and service you deserve. We believe in a strict
          Code of Ethics. We believe in integrity, commitment to excellence, a professional attitude, and personalized
          care.</p>
      </div>
    </div>



  </section>


</div>

<section class="reviews container-fluid">

  <h2 class="reviewsHeader">REVIEWS</h2>

  <div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">

      <div class="carousel-item active">

        <div class="row">

          <div class="col-4">
            <div class="card" style="width: 18rem;">
              <img src="{{ url_for('static', filename= 'house3.jpg')}}" class="d-block w-100">
              <div class="card-body">
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                  card's
                  content.</p>
              </div>
            </div>
          </div>

          <div class="col-4">
            <div class="card" style="width: 18rem;">
              <img src="{{ url_for('static', filename= 'house4.jpg')}}" class="d-block w-100">
              <div class="card-body">
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                  card's
                  content.</p>
              </div>
            </div>
          </div>

          <div class="col-4">
            <div class="card" style="width: 18rem;">
              <img src="{{ url_for('static', filename= 'house5.jpg')}}" class="d-block w-100">
              <div class="card-body">
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                  card's
                  content.</p>
              </div>
            </div>
          </div>
        </div>

      </div>

      <div class="carousel-item">

        <div class="row">

          <div class="col-4">
            <div class="card" style="width: 18rem;">
              <img src="{{ url_for('static', filename= 'house6.jpg')}}" class="d-block w-100">
              <div class="card-body">
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                  card's
                  content.</p>
              </div>
            </div>
          </div>

          <div class="col-4">
            <div class="card" style="width: 18rem;">
              <img src="{{ url_for('static', filename= 'house7.jpg')}}" class="d-block w-100">
              <div class="card-body">
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                  card's
                  content.</p>
              </div>
            </div>
          </div>

          <div class="col-4">
            <div class="card" style="width: 18rem;">
              <img src="{{ url_for('static', filename= 'house8.jpg')}}" class="d-block w-100">
              <div class="card-body">
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                  card's
                  content.</p>
              </div>
            </div>
          </div>

        </div>

      </div>



    </div>
  </div>





</section>



{% block footer %}
{% include 'footer.html'%}
{% endblock %}


{% endblock %}