<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>View All Images</title>
    <link rel="stylesheet" href="{{url_for('static',filename='style.css')}}">
    <link rel="stylesheet" href="{{url_for('static',filename = 'Css/style.css')}}">
</head>

<body>
    {% for image in images %}
    <img style="height: 45vh; width:45vh; margin-right:3cm; border-radius:20px; margin-top: 2cm;" src="{{url_for('static', filename='uploads/'+image.name)}}" alt="" srcset=""> {% endfor %}
   

</body>

</html