{%extends 'base.html'%}


{% block style %}
{{super()}}
<link rel="stylesheet" href="{{ url_for('static', filename='css/home.css') }}">
{% endblock %}


{% block content %}


{% block navbar %}
{% include 'navbar.html'%}
{% endblock %}

<img src="{{ url_for('static', filename='images/home/house2.jpg')}}" style="height:80vh; width:100%;">
<section class="container">

  <h2 style="margin-left:500px"> ABOUT US</h2>
  <div class="row">
    <div class="col-4 img">
      <img src="{{ url_for('static', filename= 'images/home/house1.jpg')}}">
    </div>
    <div class="col-8 about">
      <p>At Primedale realty, you are number one. Whether you are a property owner, tenant, or buyer, we value your
        business and will provide you with the individual attention and service you deserve. We believe in a strict
        Code of Ethics. We believe in integrity, commitment to excellence, a professional attitude, and personalized
        care.</p>
    </div>
  </div>



</section>


</div>

<section class="reviews container-fluid">

  <h2 class="reviewsHeader">REVIEWS</h2>

  <div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">

      <div class="carousel-item active">

        <div class="row">

          <div class="col-4">
            <div class="card" style="width: 18rem; height: 450px;">
              <img src="{{ url_for('static', filename= 'images/home/house3.jpg')}}" class="d-block w-100">
              <div class="card-body">
                <p class="card-text">Wow! Made buying a house such a breeze! I was new to home buying, and have heard
                  horror stories from friends and family about terrible agents.The agent was professional and personal!
                  She never made me feel uncomfortable and helped me every step of the way!</p>
              </div>
            </div>
          </div>

          <div class="col-4">
            <div class="card" style="width: 18rem; height: 450px;">
              <img src="{{ url_for('static', filename= 'images/home/house4.jpg')}}" class="d-block w-100">
              <div class="card-body">
                <p class="card-text"> The agent explained everything in a way that was easy to understand from the
                  making the offer, to working with the mortgage banker and the coop board. This made it really easy to
                  move into (CN) in less than 3 month.</p>
              </div>
            </div>
          </div>

          <div class="col-4">
            <div class="card" style="width: 18rem; height: 450px;">
              <img src="{{ url_for('static', filename= 'images/home/house5.jpg')}}" class="d-block w-100">
              <div class="card-body">
                <p class="card-text">The best real estate company I have ever dealt with. Very professional, experienced
                  and helpful agents and brokers. Highly recommend.</p>
              </div>
            </div>
          </div>
        </div>

      </div>

      <div class="carousel-item">

        <div class="row">

          <div class="col-4">
            <div class="card" style="width: 18rem; height: 450px;">
              <img src="{{ url_for('static', filename= 'images/home/house6.jpg')}}" class="d-block w-100">
              <div class="card-body">
                <p class="card-text">Great environment, professional and nice people, clean and beautiful office set up.
                  They care about their clients and train their agents frequently so they are always updated with what’s
                  going on in the market. I recommend Primedale Realty to anyone looking to do any Real Estate trans</p>
              </div>
            </div>
          </div>

          <div class="col-4">
            <div class="card" style="width: 18rem; height: 450px;"">
              <img src=" {{ url_for('static', filename= 'images/home/house7.jpg')}}" class="d-block w-100">
              <div class="card-body">
                <p class="card-text"> Stella is absolutely wonderful to work with. It’s like having a friend on the
                  “inside” that is working for you. She really care about hers clients as well as the community and
                  neighborhood he/she lives in.</p>
              </div>
            </div>
          </div>

          <div class="col-4">
            <div class="card" style="width: 18rem; height: 450px;">
              <img src=" {{ url_for('static', filename= 'images/home/house8.jpg')}}" class="d-block w-100">
              <div class="card-body">
                <p class="card-text"> I worked with Francis - an excellent agent. He listed my place in April and we
                  were on contract in 3 months, at asking price. He is an excellent negotiator with a very personalized
                  touch. Highly recommended!</p>
              </div>
            </div>
          </div>

        </div>

      </div>



    </div>
  </div>





</section>



{% block footer %}
{% include 'footer.html'%}
{% endblock %}


{% endblock %}