{% extends 'base.html' %}

{%block content%}

<div class="container" style="margin:5rem; background-color: #023047">
    <div class="row">
        <div class="col-md-5">
            <h1 style="font: size 30px; color: #fff; font-weight:bold; text-align:center; ">REAL ESTATE </h1>
            <h1 style="font: size 30px; color: #fff; font-weight:bold; text-align:center; ">BLOGS</h1>
        </div>
        <div class="col-md-7">
            <img src="../static/images/blog/Rental-Scams1-1024x523.jpg" alt="image of house">
        </div>
    </div>
    <div class="row">
        {%for blog in blogs%}
        <div class=" col-md-12">
            <div class="panel text-center" style="box-shadow: 0 4px 8px 0 rgba(15, 14, 14, 0.87);">
                <div class="panel-head text-info">
                    <h3 style="color: #fB8500" >{{blog.title_blog}}</h3>
                </div>
                <hr>
                <div class="panel-body" >
                    <p>{{blog.description}}</p>                   
                </div>
                <div class="panel-footer">
                    <p class="date text-muted">Posted on ~ {{blog.date.strftime('%Y-%m-%d')}}</p>
                </div>
            </div>
        </div>
        {%endfor%}
    </div>
</div>
{%endblock%}

