{% extends 'base.html' %}

{%block content%}

{% block navbar %}
{% include 'navbar.html' %}
{% endblock %}



<div class="container" style="box-shadow: 0 4px 8px 0 rgba(15, 14, 14, 0.87); color: whitesmoke; background-color: #023047; border-radius: 5px;  margin-top: 100px; ">
    <h2 style=" font-weight: 900;">REALTOR BLOGS</h2>

    <div class="row">
        <div class="col-md-4">
            <img src=" {{ url_for('static', filename= 'images/home/house7.jpg')}}" class="d-block w-100" style="height:350px">
        </div>
        <div class="col-md-4">
            {%for blog in blogs%}
            <h4 style="font-weight: 900;"><u>{{blog.title_blog}}</u></h4>
            <p>{{blog.description}}</p>
            <p class="date text-muted" style="font-weight:900">Posted on ~ {{blog.date.strftime('%Y-%m-%d')}}</p>


            <!-- {% if blog.user == current_user%}
                            <a href="{{url_for('main.view', id=blog.id)}}"><i class="fas fa-comment fa-fw"></i></a>&nbsp;&nbsp;&nbsp;&nbsp;
                              <a href="{{url_for('main.delete', id=blog.id)}}"><i class="fas fa-trash-alt fa-fw"></i></a>&nbsp;&nbsp;&nbsp;&nbsp;
                        <a href="{{url_for('main.update_blog', id=blog.id)}}"><i class="fas fa-marker fa-fw"></i></a>
                        {% endif %} -->


            {%endfor%}
        </div>

    </div>


</div>



{%endblock%}

