<navbar class="nav">
    <!-- <li class="nav-item">
        <a href="{{url_for('main.index')}}" class="nav-link"><span style="font-family: 'Lobster', cursive;">Home</span> </a>
    </li>
    <li class="nav-item">
        <a href="{{url_for('main.theblog')}}" class="nav-link"><span style="font-family: 'Lobster', cursive;">Blogs</span></a>
    </li>
    <li class="nav-item">
        <a href="{{url_for('main.blogs')}}" class="nav-link"><span style="font-family: 'Lobster', cursive;">Add blog</span></a>
    </li>
</navbar> -->